<div class="list-group">
        
    <% users.comptes.forEach(function(compte){ %>
        <a href="/transaction/form/<%= compte._id %>" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= compte.nom %></h5>
            <h5 class="mb-1"><%= compte.solde %> €</h5>
          </div>
          <p class="mb-1"></p>
          <small><%= compte._id %></small>
        </a>
    <% }); %>  
</div>