<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"><b>ZEYO</b>
          <!--img src="/images/logo.png" width="30" height="30" alt=""-->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Comptes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/comptes">Consultez vos comptes</a>
                  <a class="dropdown-item" href="/carte">Rechargez vos comptes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/compte/create">Créer un nouveau compte</a>
                </div>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Transaction
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/transaction">Effectuez une transaction</a>
                  <a class="dropdown-item" href="/transaction/all">Consultez vos transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activite">Fil d'activité</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notifications</a>
            </li>
           

          </ul>

          <form class="form-inline mr-5 my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

          <ul class="navbar-nav">
              <!--li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                  </div>
              </li-->
              <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link mr-2" href="/profil"><i class="fas fa-user"></i> <%= user.nom %></a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Déconnexion</a>
                </li>
            <% } else { %>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Connexion</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/register">Inscription</a>
              </li>
            <% }%>   
           
          </ul>
         
        </div>
      </nav>
      